<template>
    <div>
        <div class="box box-purple">
            <div class="box-header with-border">
                <h3 class="box-title">Контекстное обьявления</h3>
                <div class="pull-right">
                    <switches v-model="use_advertisement" theme="bootstrap" color="success"></switches>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group" :class="{'has-error': errors.has('advertisement_id')}">
                    <select-component name="advertisement_id"
                                      v-model="r_value['advertisement_id']"
                                      v-validate="'required'"
                                      :disabled="!use_advertisement"
                                      title="Объявление"
                                      :values="advertisements">
                    </select-component>
                </div>
                <p class="text-danger" v-if="errors.has('advertisement_id')">{{ errors.first('advertisement_id') }}</p>
            </div>
        </div>
        <div class="box box-purple">
            <div class="box-header with-border">
                <h3 class="box-title">Группа</h3>
                <div class="pull-right">
                    <switches v-model="use_group" theme="bootstrap" color="success"></switches>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group" :class="{'has-error': errors.has('group_id')}">
                    <select-component name="group_id"
                                      v-model="r_value['group_id']"
                                      v-validate="'required'"
                                      :disabled="!use_group"
                                      title="Группа"
                                      :values="groups">
                    </select-component>
                </div>
                <p class="text-danger" v-if="errors.has('group_id')">{{ errors.first('group_id') }}</p>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     components: {
         Switches: require("vue-switches")
     },
     props: {
         value: {
             type: Object,
             required: true
         }
     },
     data() {
         return {
             r_value: this.value,
             use_group: false,
             use_advertisement: false,
             advertisements: [],
             groups: []
         }
     },
     methods: {

         load(type) {

             this.$validator.reset();

             axios.post(`/${this.$parent.alias}/select`, {
                 relation: type,
                 active: true
             }).then((response) => {

                 if(response.data.status) {

                     this[type] = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         },
         clear(variable) {

             this.$set(
                 this.r_value,
                 variable,
                 null
             );

         }

     },
     watch: {

         use_group: function(value) {

             if(value) {

                 this.load("groups");

                 if(this.use_advertisement) {

                     this.use_advertisement = false;

                     this.clear(
                         'advertisement_id'
                     );

                 }

             } else this.clear(
                 'group_id'
             );

         },
         use_advertisement: function(value) {

             if(value) {

                 this.load("advertisements");

                 if(this.use_group) {

                     this.use_group = false;

                     this.clear(
                         'group_id'
                     );

                 }

             } else this.clear(
                 'advertisement_id'
             );

         },
         r_value: function(value) {

             this.$emit("input", value);

         }

     }
 }
</script>
