<template>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Категории
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Точный URL
                            </h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <select-component name="include"
                                                  v-model="r_value['exact']"
                                                  :actions="true"
                                                  title="Добавить точный URL"
                                                  :multiple="true"
                                                  :auto_change="false"
                                                  :values="categories">
                                </select-component>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Пути страниц
                            </h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <select-component name="exclude"
                                                  v-model="r_value['paths']"
                                                  :actions="true"
                                                  title="Добавить пути страниц"
                                                  :multiple="true"
                                                  :auto_change="false"
                                                  :values="categories">
                                </select-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     created() {

         this.loadCategories();

     },
     props: {
         value: {
             type: Object,
             required: true
         }
     },
     data() {
         return {
             categories: [],
             r_value: this.value
         }
     },
     methods: {

         loadCategories() {

             axios.post(`/${this.$parent.alias}/categories`).then((response) => {

                 if(response.data.status) {

                     this.categories = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         }

     },
     watch: {

         r_value: function(value) {

             this.$emit("input", value);

         }

     },
     computed: {

         has_categories: function() {

             return Object.keys(
                 this.categories
             ).length > 0;

         }

     }
 }
</script>
