<template>
    <div class="box-header">
        <div class="form-group">
            <label>Фильтруем по:</label>
            <select-component name="filter_by"
                              v-model="filter_by"
                              title="Фильтруем по"
                              :values="filter_by_types">
            </select-component>
        </div>
        <div class="form-group">
            <select-component name="filter_by_value"
                              :disabled="filter_by === null"
                              :actions="true"
                              v-model="filter_by_value"
                              title="Выберите значение"
                              :multiple="true"
                              :values="filter_by_values || []">
            </select-component>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         alias: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             filter_by: null,
             filter_by_types: {
                 positions: "Местоположению",
                 categories: "Категории сайта",
                 posts: "Статье",
                 groups: "Группе"
             },
             filter_by_value: [],
             categories: null,
             positions: null,
             posts: null,
             groups: null
         }
     },
     methods: {

         loadCategories() {

             axios.post(`/${this.alias}/categories`).then((response) => {

                 if(response.data.status) {

                     this.categories = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         },
         loadPosts() {

             axios.post(`/${this.alias}/posts`).then((response) => {

                 if(response.data.status) {

                     this.posts = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         },
         loadPositions() {

             axios.post(`/${this.alias}/positions`).then((response) => {

                 if(response.data.status) {

                     this.positions = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         },
         loadGroups() {

             axios.post(`/${this.alias}/groups`).then((response) => {

                 if(response.data.status) {

                     this.groups = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         },
         getValues(type) {

             if(this[type] === null) {

                 this['load' + capitalize(type)]();

             }

             return this[type];

         }

     },
     computed: {

         filter_by_values: function() {

             if(this.filter_by === null) {

                 return [];

             }

             return this.getValues(
                 this.filter_by
             );

         }

     },
     watch: {

         filter_by: function(value) {

             this.filter_by_value = [];

         },
         filter_by_value: function(value) {

             eventHub.$emit('datatable-site-advertisements-event', {
                 name: 'refreshSiteAdvertisements',
                 data: {
                     alias: this.alias,
                     type: this.filter_by,
                     value: value
                 }
             });

         }

     }
 }
</script>
