<template>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Местоположение объявления
            </h3>
        </div>
        <div class="box-body">
            <div class="form-group" :class="{'has-error': errors.has('main') || errors.has('sub')}">
                <div class="radio" v-if="hasPosition('top')">
                    <label>
                        <input type="radio"
                               name="main"
                               v-model="r_value['main']"
                               :value="'top'"
                               v-validate="'required'" />
                        В начале статьи
                    </label>
                </div>
                <div class="radio" v-if="hasPosition('h1')">
                    <label>
                        <input type="radio"
                               name="main"
                               v-model="r_value['main']"
                               :value="'h1'"
                               v-validate="'required'" />
                        После H1
                    </label>
                </div>
                <div class="radio" v-if="hasPosition('h2')">
                    <label>
                        <input type="radio"
                               name="main"
                               v-model="r_value['main']"
                               :value="'h2'"
                               v-validate="'required'" />
                        После
                        <input type="text"
                               name="sub"
                               size="3"
                               v-model="r_value['sub']"
                               v-if="r_value['main'] == 'h2'"
                               v-validate="'required|max:255'"
                               :class="{'invalid': errors.has('sub')}" />
                        <input size="3"
                               disabled
                               v-if="r_value['main'] != 'h2'" />
                        H2
                    </label>
                </div>
                <div class="radio" v-if="hasPosition('p')">
                    <label>
                        <input type="radio"
                               name="main"
                               v-model="r_value['main']"
                               :value="'p'"
                               v-validate="'required'" />
                        После
                        <input type="text"
                               name="sub"
                               size="3"
                               v-model="r_value['sub']"
                               v-if="r_value['main'] == 'p'"
                               v-validate="'required|max:255'"
                               :class="{'invalid': errors.has('sub')}" />
                        <input size="3"
                               disabled
                               v-if="r_value['main'] != 'p'" />
                        абзаца
                    </label>
                </div>
                <div class="radio" v-if="hasPosition('h3')">
                    <label>
                        <input type="radio"
                               name="main"
                               v-model="r_value['main']"
                               :value="'h3'"
                               v-validate="'required'" />
                        После
                        <input type="text"
                               name="sub"
                               size="3"
                               v-model="r_value['sub']"
                               v-if="r_value['main'] == 'h3'"
                               v-validate="'required|max:255'"
                               :class="{'invalid': errors.has('sub')}" />
                        <input size="3"
                               disabled
                               v-if="r_value['main'] != 'h3'" />
                        H3
                    </label>
                </div>
                <div class="radio" v-if="hasPosition('block')">
                    <label>
                        <input type="radio"
                               name="main"
                               v-model="r_value['main']"
                               :value="'block'"
                               v-validate="'required'" />
                        После
                        <input type="text"
                               name="sub"
                               size="20"
                               v-model="r_value['sub']"
                               v-if="r_value['main'] == 'block'"
                               placeholder="#sm-adv или .sm-adv"
                               v-validate="'required|max:255'"
                               :class="{'invalid': errors.has('sub')}" />
                        <input size="20"
                               disabled
                               v-if="r_value['main'] != 'block'"
                               placeholder="#sm-adv или .sm-adv" />
                        (пожалуйста укажите свой класс или индитификатор элемента на странице)
                    </label>
                </div>
                <div class="radio" v-if="hasPosition('bottom')">
                    <label>
                        <input type="radio"
                               name="main"
                               v-model="r_value['main']"
                               :value="'bottom'"
                               v-validate="'required'" />
                        В конце статьи
                    </label>
                </div>
            </div>
            <p class="text-danger" v-if="errors.has('main')">{{ errors.first('main') }}</p>
            <p class="text-danger" v-if="errors.has('sub')">{{ errors.first('sub') }}</p>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         value: {
             type: Object,
             required: true
         },
         positions: {
             type: Object,
             required: true
         }
     },
     data() {
         return {
             r_value: this.value
         }
     },
     methods: {

         hasPosition(position) {

             return typeof this.positions[position] !== undefined;

         }

     },
     watch: {

         r_value: function(value, old) {

             this.$emit("input", value);

         }

     }
 }
</script>
