<template>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Статьи
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Добавить
                            </h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <select-component name="include"
                                                  v-model="r_value['include']"
                                                  :actions="true"
                                                  title="Добавить объявления"
                                                  :auto_change="false"
                                                  :multiple="true"
                                                  :values="posts">
                                </select-component>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Исключить
                            </h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <select-component name="exclude"
                                                  v-model="r_value['exclude']"
                                                  :actions="true"
                                                  title="Исключить объявления"
                                                  :auto_change="false"
                                                  :multiple="true"
                                                  :values="posts_for_exclude">
                                </select-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     created() {

         this.loadPosts();

     },
     props: {
         value: {
             type: Object,
             required: true
         }
     },
     data() {
         return {
             posts: [],
             r_value: this.value
         }
     },
     methods: {

         loadPosts() {

             axios.post(`/${this.$parent.alias}/posts`).then((response) => {

                 if(response.data.status) {

                     this.posts = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         }

     },
     watch: {

         r_value: {
             handler: function(value) {

                 let exclude = _.difference(
                     this.r_value["exclude"],
                     this.r_value["include"]
                 );

                 if(_.isEqual(exclude, value['exclude'])) {

                     this.$emit("input", value);

                 } else {

                     this.$set(
                         this.r_value,
                         "exclude",
                         exclude
                     );

                 }

             },
             deep: true
         }

     },
     computed: {

         posts_for_exclude: function() {

            return _.omit(
                this.posts,
                this.r_value["include"]
            )

         }

     }
 }
</script>
