<template>
    <div class="box box-purple">
        <div class="box-header with-border">
            <h3 class="box-title">Таргетинг по странам</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <select-component name="target"
                                  v-model="r_value"
                                  :actions="true"
                                  title="Выберите значение"
                                  :auto_change="false"
                                  :multiple="true"
                                  :values="values">
                </select-component>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     created() {

         this.loadTargets();

     },
     props: {
         value: {
             type: Array,
             default: () => []
         }
     },
     data() {
         return {
             values: [],
             r_value: this.value
         }
     },
     methods: {

         loadTargets() {

             axios.post(`/${this.$parent.alias}/targets`).then((response) => {

                 if(response.data.status) {

                     this.values = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         }

     },
     watch: {

         r_value: function(value) {

             this.$emit("input", value);

         }

     }
 }
</script>
