<template>
    <div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Ссылка объявления с использованием трекера</h3>
                <div class="pull-right">
                    <switches v-model="use_tracker" theme="bootstrap" color="success"></switches>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group" :class="{'has-error': errors.has('tracker_id')}">
                    <select-component name="tracker_id"
                                      v-model="r_value['tracker']['id']"
                                      v-validate="'required'"
                                      :disabled="!use_tracker"
                                      :auto_change="false"
                                      title="Выбор трекера"
                                      :values="trackers">
                    </select-component>
                </div>
                <p class="text-danger" v-if="errors.has('tracker_id')">{{ errors.first('tracker_id') }}</p>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" :class="{'has-error': errors.has('utm_medium')}">
                            <label>utm_medium</label>
                            <input name="utm_medium"
                                   v-model="r_value['tracker']['utm_medium']"
                                   v-validate="'required|max:255'"
                                   :disabled="!use_tracker"
                                   class="form-control" />
                        </div>
                        <p class="text-danger" v-if="errors.has('utm_medium')">{{ errors.first('utm_medium') }}</p>
                        <div class="form-group" :class="{'has-error': errors.has('utm_campaign')}">
                            <label>utm_campaign</label>
                            <input name="utm_campaign"
                                   v-model="r_value['tracker']['utm_campaign']"
                                   v-validate="'required|max:255'"
                                   :disabled="!use_tracker"
                                   class="form-control" />
                        </div>
                        <p class="text-danger" v-if="errors.has('utm_campaign')">{{ errors.first('utm_campaign') }}</p>
                        <div class="form-group">
                            <label>utm_content</label>
                            <input disabled class="form-control" />
                        </div>
                        <div class="form-group" :class="{'has-error': errors.has('utm_source')}">
                            <label>utm_source</label>
                            <input name="utm_source"
                                   v-model="r_value['tracker']['utm_source']"
                                   v-validate="'required|max:255'"
                                   :disabled="!use_tracker"
                                   class="form-control" />
                        </div>
                        <p class="text-danger" v-if="errors.has('utm_source')">{{ errors.first('utm_source') }}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" :class="{'has-error': errors.has('sid1')}">
                            <label>sid1</label>
                            <input name="sid1"
                                   v-model="r_value['tracker']['sid1']"
                                   v-validate="'required|max:255'"
                                   :disabled="!use_tracker"
                                   class="form-control" />
                        </div>
                        <p class="text-danger" v-if="errors.has('sid1')">{{ errors.first('sid1') }}</p>
                        <div class="form-group" :class="{'has-error': errors.has('sid2')}">
                            <label>sid2</label>
                            <input name="sid2"
                                   v-model="r_value['tracker']['sid2']"
                                   v-validate="'required|max:255'"
                                   :disabled="!use_tracker"
                                   class="form-control" />
                        </div>
                        <p class="text-danger" v-if="errors.has('sid2')">{{ errors.first('sid2') }}</p>
                        <div class="form-group" :class="{'has-error': errors.has('sid3')}">
                            <label>sid3</label>
                            <input name="sid3"
                                   v-model="r_value['tracker']['sid3']"
                                   v-validate="'required|max:255'"
                                   :disabled="!use_tracker"
                                   class="form-control" />
                        </div>
                        <p class="text-danger" v-if="errors.has('sid3')">{{ errors.first('sid3') }}</p>
                    </div>
                </div>
                <p class="text-info">
                    utm_content - автоматически добавится к ссылке вида (site.com_category_article)
                </p>
            </div>
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Обычная ссылка обьявления</h3>
                <div class="pull-right">
                    <switches v-model="use_default" theme="bootstrap" color="success"></switches>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group" :class="{'has-error': errors.has('url')}">
                    <input name="url"
                           v-model="r_value['url']"
                           v-validate="'required|url|max:255'"
                           :disabled="!use_default"
                           class="form-control"
                           placeholder="http://example.com" />
                </div>
                <p class="text-danger" v-if="errors.has('url')">{{ errors.first('url') }}</p>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     components: {
         Switches: require("vue-switches")
     },
     props: {
         value: {
             type: Object,
             required: true
         }
     },
     data() {
         return {
             r_value: this.value,
             use_tracker: this.checkSelected(false),
             use_default: this.checkSelected(),
             trackers: []
         }
     },
     methods: {

         checkSelected(is_default = true) {

             if(is_default) {

                 if(this.value['url'] !== null) {

                     return true;

                 }

                 return false;

             } else {

                 if(this.value['tracker']['id'] !== null) {

                     this.loadTrackers();

                     return true;

                 }

             }

             return false;

         },
         loadTrackers() {

             axios.post(`/${this.$parent.alias}/trackers`).then((response) => {

                 if(response.data.status) {

                     this.trackers = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         }

     },
     watch: {

         use_tracker: function(value) {

             if(value) {

                 this.loadTrackers();

                 if(this.use_default) {

                     this.$validator.reset();

                     this.use_default = false;

                 }

             } else {

                 this.$set(
                     this.r_value["tracker"],
                     "id",
                     null
                 );

             }

         },
         use_default: function(value) {

             if(value) {

                 if(this.use_tracker) {

                     this.$validator.reset();

                     this.use_tracker = false;

                 }

             } else {

                 this.$set(
                     this.r_value,
                     "url",
                     null
                 );

             }

         },
         r_value: {
             handler: function(value) {

                 this.$emit("input", value);

             },
             deep: true
         }

     }
 }
</script>
