<template>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                URL
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Страницы (точный URL)</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <textarea
                                        v-model="r_value['include']['exact']"
                                        class="form-control"
                                        rows="10"
                                        :placeholder="placeholders['url']"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Исключить страницы (точный URL)</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <textarea v-model="r_value['exclude']['exact']"
                                          class="form-control"
                                          rows="10"
                                          :placeholder="placeholders['url']"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Пути страниц</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <textarea v-model="r_value['include']['paths']"
                                          class="form-control"
                                          rows="10"
                                          :placeholder="placeholders['path']"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Исключить пути страниц</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <textarea v-model="r_value['exclude']['paths']"
                                          class="form-control"
                                          rows="10"
                                          :placeholder="placeholders['path']"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         value: {
             type: Object,
             required: true
         }
     },
     data() {
         return {
             r_value: this.value,
             placeholders: {
                 url: "http://example.com/category/posts/1\nhttp://example.com/category/posts/2",
                 path: "http://example.com/category\nhttp://example.com/category"
             }
         }
     },
     watch: {

         r_value: function(value) {

             this.$emit("input", value);

         }

     }
 }
</script>
