<template>
    <div class="adv-comments-block" v-if="comments.length" :class="{'fix-height': is_modal}">
        <ul class="todo-list">
            <li v-for="(comment, index) in comments">
                <div class="text comment-text">
                    <div class="text-right comment-date">
                        <span class="badge">
                            {{ comment['date'] }}
                        </span>
                    </div>
                    {{ comment['message'] }}
                </div>
                <div class="tools">
                    <i class="fa fa-trash-o"
                       @click.prevent="deleteComment(comment, index)">
                    </i>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
 export default {
     props: {
         is_modal: {
             type: Boolean,
             default: false
         },
         comments: {
             type: [Array, Object],
             default: () => []
         }
     },
     methods: {
         deleteComment(comment, index) {

             closureQuestion(() => {

                 axios.post(`/comments/destroy/${comment['id']}`, {
                    'modelable_id': comment['modelable_id'],
                    'modelable_type': comment['modelable_type']
                 }).then((response) => {

                     if(response.data.status) {

                         responseMessagesWorker(response);

                         this.$delete(
                             this.comments,
                             index
                         );

                     } else defaultErrorMessage();

                 }).catch((error) => responseErrorWorker(error));

             }, 'warning', trans("will be deleted"));

         }
     }
 }
</script>
