<template>
    <div>
        <div class="box box-solid">
            <div class="box-body">
                <div class="form-group" :class="{'has-error': errors.has('url')}">
                    <label>Адрес сайта:</label>
                    <input class="form-control"
                           placeholder="Адрес сайта"
                           name="url"
                           type="text"
                           v-model="url"
                           v-validate="'required|max:255|url'">
                </div>
                <p class="text-danger" v-if="errors.has('url')">{{ errors.first('url') }}</p>
            </div>
        </div>

        <div class="text-center">
            <div class="btn-group">
                <a class="btn btn-default btn-lg" :href="`/${alias}`">Отменить</a>
                <button class="btn btn-success btn-lg"
                        @click.prevent="saveSite()"
                        :disabled="disabled"
                        :class="{'disabled': disabled}">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         model: {
             type: Object,
             default: null
         },
         alias: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             disabled: false,
             url: this.loadModelData('url', '')
         }
     },
     methods: {
         loadModelData(field, default_value, decorator) {

             return loadModelData(
                 this.model,
                 field,
                 default_value,
                 decorator
             );

         },
         saveSite() {

             this.recursiveCheck(this, () => {

                 this.disabled = true;

                 let url = `/${this.alias}`;

                 if(this.model !== null) {

                     url += `/${this.model['id']}`;

                 }

                 axios.post(url, {
                     url: this.url
                 }).then((response) => {

                     if(response.data.status) {

                         let redirect = {};

                         if(this.model === null) {

                             redirect['url'] = `/${this.alias}`;

                         } else this.$validator.reset();

                         responseMessagesWorker(
                             response,
                             redirect
                         );

                     } else defaultErrorMessage();

                     this.disabled = false;

                 }).catch((error) => {

                     responseErrorWorker(error);

                     this.disabled = false;

                 });

             });

         }
     }
 }
</script>
