@import "~bootstrap-sass/assets/stylesheets/_bootstrap";
@import "~bootstrap-select/sass/bootstrap-select";
@import "~font-awesome/scss/font-awesome";
@import "./tooltip";

/*custom styles*/

.no-margin {
    margin: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.fix-labels span.label {
    margin: 1px 2px !important;
}
.swal2-popup {
    &:not(.swal2-toast) {
        width: 45em !important;
        padding: 1.5em !important;
        .swal2-content {
            font-size: 16px !important;
        }
        .swal2-actions button {
            font-size: 14px !important;
        }
    }
    &.swal2-toast {
        zoom: 1.4;
    }
}
no-padding {
    padding: 0;
}
span.vue-switcher__label {
    font-size: 14px;
}
label.switcher-right > div {
    float: right;
}
ul.nav > li.has-error > a {
    border-top-color: red !important;
}
button.site-sync-button {
    height: 90px;
}
.overlay {
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    > i {
        position: absolute;
        top: calc(50% - 9px);
        bottom: auto;
        margin: 0 auto;
        margin-left: -15px;
        margin-top: -15px;
        color: #000;
        font-size: 50px;
    }
}
div.info-box {
    position:relative;
}
textarea {
    resize: vertical !important;
}
div.adv-comments-block {
    word-wrap: break-word;
    div.comment-text {
        width: 100%;
        > span.badge {
            margin-left: 5px;
        }
    }
}
.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.adv-comments-block.fix-height {
    max-height: 250px;
    overflow-y: auto;
}
.comment-date {
    margin-bottom: 5px;
}
.comment-text {
    text-align: justify;
}
input.invalid {
    border-color: #dd4b39;
}
