<template>
    <div>

        <advertisement-partial v-model="model"></advertisement-partial>

        <tracker-partial v-model="tracker"></tracker-partial>

        <position-partial v-model="position" :positions="positions"></position-partial>

        <target-partial v-model="targets"></target-partial>

        <posts-partial v-model="posts"></posts-partial>

        <categories-partial v-model="categories"></categories-partial>

        <urls-partial v-model="urls"></urls-partial>

        <div class="form-group text-center">
            <div class="btn-group">
                <a class="btn btn-default btn-lg" :href="`/${this.alias}`">Отменить</a>
                <button class="btn btn-success btn-lg"
                        :class="{'disabled': disabled}"
                        @click.prevent="saveAll()"
                        :disabled="disabled">
                    Сохранить
                </button>
            </div>
        </div>

    </div>
</template>
<script>
 export default {
     components: {
         "advertisement-partial": require("../partials/advertisement"),
         "tracker-partial": require("../partials/tracker"),
         "position-partial": require("../partials/position"),
         "target-partial": require("../partials/target"),
         "posts-partial": require("../partials/posts"),
         "categories-partial": require("../partials/categories"),
         "urls-partial": require("../partials/urls")
     },
     props: {
         alias: {
             type: String,
             required: true
         },
         positions: {
             type: Object,
             required: true
         }
     },
     data() {
         return {
             disabled: false,
             model: {
                 group_id: null,
                 advertisement_id: null
             },
             tracker: {
                 url: null,
                 tracker: {
                     id: null,
                     utm_medium: null,
                     utm_campaign: null,
                     utm_source: null,
                     sid1: null,
                     sid2: null,
                     sid3: null
                 }
             },
             position: {
                 main: null,
                 sub: null
             },
             targets: [],
             posts: {
                 include: [],
                 exclude: []
             },
             categories: {
                 exact: [],
                 paths: []
             },
             urls: {
                 include: {
                     exact: "",
                     paths: ""
                 },
                 exclude: {
                     exact: "",
                     paths: ""
                 }
             }
         }
     },
     methods: {

         beforeValidate() {

             let errors = [];

             if(this.model['group_id'] === null &&
                this.model['advertisement_id'] === null) {

                 errors.push(
                     trans("site advertisement model type error")
                 );

             }

             if(!this.tracker['url'] &&
                !this.tracker['tracker']['id']) {

                 errors.push(
                     trans("site tracker error")
                 );

             }

             if(!this.posts['include'].length &&
                !this.categories['exact'].length &&
                !this.categories['paths'].length &&
                !this.urls['include']['exact'].length &&
                !this.urls['include']['paths'].length) {

                 errors.push(
                     trans("site advertisement urls error")
                 );

             }

             if(errors.length) {

                 showMessages({error: errors});

                 return false;

             }

             return true;

         },
         saveAll() {

             if(this.disabled) return;

             if(this.beforeValidate()) {

                 this.recursiveCheck(this, () => {

                     this.disabled = true;

                     axios.post(`/${this.alias}`, {
                         model: this.model,
                         targets: this.targets,
                         tracker: this.tracker,
                         position: this.position,
                         posts: this.posts,
                         categories: this.categories,
                         urls: this.parseUrls()
                     }).then((response) => {

                         let redirect = {};

                         if(response.data.status) {

                             if(response.data.status) {

                                 redirect['url'] = `/${this.alias}`;

                             }

                         } else defaultErrorMessage();

                         responseMessagesWorker(
                             response,
                             redirect
                         );

                         this.disabled = false;

                     }).catch((error) => {

                         responseErrorWorker(error);

                         this.disabled = false;

                     });

                 });

             }

         },
         parseUrls() {

             let urls = {
                 include: {
                     exact: [],
                     paths: []
                 },
                 exclude: {
                     exact: [],
                     paths: []
                 }
             };

             for(let urls_type in this.urls) {

                 for(let url_type in this.urls[urls_type]) {

                     if(this.urls[urls_type][url_type].length) {

                         urls[urls_type][url_type] = this.urls[urls_type][url_type].split("\n");

                     }

                 }

             }

             return urls;

         }

     }
 }
</script>
