<template>
    <div>

        <div class="alert alert-info margin-bottom-10 text-center" v-if="added_to_group">
            <h4 class="no-margin">
                К объявлению будут применены общие настройки группы!
            </h4>
        </div>

        <div class="alert alert-info margin-bottom-10 text-center" v-if="change_group">
            <h4 class="no-margin">
                Редактирование записи приведет к изменению настроей всей группы!
            </h4>
        </div>

        <group-partial :update="true" v-model="group_id"></group-partial>

        <advertisement-partial v-model="advertisement_id"></advertisement-partial>

        <div v-if="!added_to_group">

            <tracker-partial v-model="tracker"></tracker-partial>

            <position-partial v-model="position" :positions="positions"></position-partial>

            <target-partial v-model="targets"></target-partial>

            <posts-partial v-model="posts"></posts-partial>

            <categories-partial v-model="categories"></categories-partial>

            <urls-partial v-model="urls"></urls-partial>

        </div>

        <div class="form-group text-center">
            <div class="btn-group">
                <a class="btn btn-default btn-lg" :href="`/${this.alias}`">Отменить</a>
                <button class="btn btn-success btn-lg"
                        :class="{'disabled': disabled}"
                        @click.prevent="saveAll()"
                        :disabled="disabled">
                    Сохранить
                </button>
            </div>
        </div>

        <comments-form :alias="`site/${model['id']}`"
                       :comments="model['comments']"
                       :identifier="model['id']"
                       :type="'App\\Models\\Site\\Advertisement'">
        </comments-form>

    </div>
</template>
<script>
 export default {
     components: {
         "group-partial": require("../partials/edit/group"),
         "advertisement-partial": require("../partials/edit/advertisement"),
         "tracker-partial": require("../partials/tracker"),
         "position-partial": require("../partials/position"),
         "target-partial": require("../partials/target"),
         "posts-partial": require("../partials/posts"),
         "categories-partial": require("../partials/categories"),
         "urls-partial": require("../partials/urls")
     },
     props: {
         alias: {
             type: String,
             required: true
         },
         model: {
             type: Object,
             required: true
         },
         positions: {
             type: Object,
             required: true
         }
     },
     data() {
         return {
             disabled: false,
             id: this.loadModelData("id"),
             group_id: this.loadModelData("group_id", null),
             advertisement_id: this.loadModelData("advertisement_id", null),
             tracker: this.loadTracker(),
             position: this.loadModelData("position", {
                 main: null,
                 sub: null
             }),
             targets: this.loadModelData("targets", []),
             posts: this.loadModelData("posts", {
                 include: [],
                 exclude: []
             }),
             categories: this.loadModelData("categories", {
                 exact: [],
                 paths: []
             }),
             urls: this.loadModelData("urls", {
                 include: {
                     exact: "",
                     paths: ""
                 },
                 exclude: {
                     exact: "",
                     paths: ""
                 }
             })
         }
     },
     methods: {

         loadTracker() {

             return {
                url: this.loadModelData("url", null),
                tracker: this.loadModelData("tracker", {
                    id: null,
                    utm_medium: null,
                    utm_campaing: null,
                    utm_content: null,
                    utm_source: null,
                    sid1: null,
                    sid2: null,
                    sid3: null
                })
            };

         },
         loadModelData(field, default_value, decorator) {

             if(this.model !== null) {

                 return loadModelData(
                     this.model,
                     field,
                     default_value,
                     decorator
                 );

             }

             return default_value;

         },
         beforeValidate() {

             let errors = [];

             if(!this.tracker['url'] &&
                !this.tracker['tracker']['id']) {

                 errors.push(
                     trans("site tracker error")
                 );

             }

             if(!this.posts['include'].length &&
                !this.categories['exact'].length &&
                !this.categories['paths'].length &&
                !this.urls['include']['exact'].length &&
                !this.urls['include']['paths'].length &&
                !this.added_to_group) {

                 errors.push(
                     trans("site advertisement urls error")
                 );

             }

             if(errors.length) {

                 showMessages({error: errors});

                 return false;

             }

             return true;

         },
         saveAll() {

             if(this.disabled) return;

             if(this.beforeValidate()) {

                 this.recursiveCheck(this, () => {

                     this.disabled = true;

                     axios.post(
                         this.buildUrl(),
                         this.buildData()
                     ).then((response) => {

                         let redirect = {};

                         if(response.data.status) {

                             redirect['url']= `/${this.alias}/${this.id}/edit`;

                         } else defaultErrorMessage();

                         responseMessagesWorker(
                             response,
                             redirect
                         );

                         this.disabled = false;

                     }).catch((error) => {

                         responseErrorWorker(error);

                         this.disabled = false;

                     });

                 });

             }

         },
         buildData() {

             let data = {
                 group_id: this.group_id,
                 advertisement_id: this.advertisement_id
             };

             if(!this.added_to_group) {

                 data['categories'] = this.categories;

                 data['position'] = this.position;

                 data['tracker'] = this.tracker;

                 data['targets'] = this.targets;

                 data['posts'] = this.posts;

                 data['urls'] = this.parseUrls();

             }

             return data;

         },
         buildUrl() {

             let url = `/${this.alias}/${this.id}`;

             if(this.added_to_group) {

                 url += '/group';

             }

             return url;

         },
         parseUrls() {

             let urls = {
                 include: {
                     exact: [],
                     paths: []
                 },
                 exclude: {
                     exact: [],
                     paths: []
                 }
             };

             for(let urls_type in this.urls) {

                 for(let url_type in this.urls[urls_type]) {

                     if(this.urls[urls_type][url_type].length) {

                         urls[urls_type][url_type] = this.urls[urls_type][url_type].split("\n");

                     }

                 }

             }

             return urls;

         }

     },
     computed: {

         added_to_group: function() {

             return this.loadModelData("group_id", null) != this.group_id && this.group_id != null;

         },
         change_group: function () {

             return this.loadModelData("group_id", null) == this.group_id && this.group_id != null;

         }

     }
 }
</script>
