<template>
    <button class="btn btn-success btn-flat pull-right"
            @click.prevent="clearAll()"
            :disabled="disabled"
            :class="{'disabled': disabled}">
        Очистить корзину
    </button>
</template>
<script>
 export default {
     props: {
         alias: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             disabled: false
         }
     },
     methods: {
         clearAll() {

             closureQuestion(() => {

                 axios.post(`/${this.alias}/empty`).then((response) => {

                     if(response.data.status) {

                         responseMessagesWorker(response);

                         eventHub.$emit("datatable-event", {
                             name: 'clearAll'
                         });

                     } else defaultErrorMessage();

                     this.disabled = false;

                 }).catch((error) => {

                     this.disabled = false;

                     responseErrorWorker(error);

                 });

             }, 'warning', trans("all trashed records will be deleted"));

         }
     }
 }
</script>
