<template>
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group" :class="{'has-error': errors.has('name')}">
                            <label>Название группы</label>
                            <input name="name"
                                   class="form-control"
                                   v-model="name"
                                   v-validate="'required|max:255'"
                                   placeholder="Название группы" />
                        </div>
                        <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group" :class="{'has-error': errors.has('type')}">
                            <label>Тип группы:</label>
                            <select-component name="type"
                                              v-model="type"
                                              v-validate="'required'"
                                              title="Тип группы"
                                              :values="types">
                            </select-component>
                        </div>
                        <p class="text-danger" v-if="errors.has('type')">{{ errors.first('type') }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    Добавить обьявления в группу
                                </h3>
                                <div class="pull-right">
                                    <switches v-model="use_list" theme="bootstrap" color="success"></switches>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <select-component v-model="advertisements"
                                                      title="Рекламные объявления"
                                                      :values="r_advertisements_list"
                                                      :multiple="true"
                                                      :disabled="!use_list" >
                                    </select-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Добавить обьявления в группу по ID</h3>
                                <div class="pull-right">
                                    <switches v-model="use_input" theme="bootstrap" color="success"></switches>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <input type="text"
                                           v-model="advertisements_ids"
                                           class="form-control"
                                           :disabled="!use_input"
                                           placeholder="1,2..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group">
                <a class="btn btn-default btn-lg" :href="`/${alias}`">Отменить</a>
                <button class="btn btn-success btn-lg" @click.prevent="saveAll()">Сохранить</button>
            </div>
        </div>
    </section>
</template>
<script>
 export default {
     components: {
        Switches: require("vue-switches")
     },
     props: {
         alias: {
             type: String,
             required: true
         },
         types: {
             type: Object,
             required: true
         },
         model: {
             type: Object,
             default: null
         },
         advertisements_list: {
             type: [Array, Object],
             default: () => []
         }
     },
     data() {
         return {
             name: this.loadModelData('name', ''),
             type: this.loadModelData('type', null),
             advertisements: this.loadModelData('advertisements', [], (advertisements) => {

                 let ids = [];

                 advertisements.forEach((advertisement) => {

                     ids.push(advertisement['id']);

                 });

                 return ids;

             }),
             advertisements_ids: '',

             use_list: this.model !== null,
             use_input: false,
             disabled: false,

             r_advertisements_list: this.advertisements_list
         }
     },
     methods: {

         loadAdvertisements() {

             axios.post(`/${this.alias}/advertisements`, {
                 type: this.type
             }).then((response) => {

                 if(response.data.status) {

                     this.r_advertisements_list = response.data.advertisements;

                 }

             }).catch((error) => responseErrorWorker(error));

         },
         saveAll() {

             if(this.disabled) return;

             this.recursiveCheck(this, () => {

                 this.disabled = true;

                 let advertisements = [];

                 if(this.use_input) {

                     advertisements = this.advertisements_ids.split(',').map((item) => {

                         return item.trim();

                     });

                 } else if(this.use_list) {

                     advertisements = this.advertisements;

                 }

                 let url = `/${this.alias}`;

                 if(this.model !== null) {

                     url += `/${this.model['id']}`;

                 }

                 axios.post(url, {
                     name: this.name,
                     type: this.type,
                     advertisements: advertisements
                 }).then((response) => {

                     if(response.data.status) {

                         let redirect = {};

                         if(this.model === null) {

                             redirect['url'] = `/${this.alias}`;

                         } else  {

                             if(this.use_input) {

                                 this.advertisements = advertisements;

                             } else if(this.use_list) {

                                 this.advertisements_ids = '';

                             }

                         }

                         responseMessagesWorker(
                             response,
                             redirect
                         );

                     } else defaultErrorMessage();

                     this.disabled = false;

                 }).catch((error) => {

                     responseErrorWorker(error);

                     this.disabled = false;

                 });

             });

         },
         loadModelData(field, default_value, decorator) {

             return loadModelData(
                 this.model,
                 field,
                 default_value,
                 decorator
             );

         }

     },
     watch: {
         type: function(value) {

             if(this.use_list) {

                 this.loadAdvertisements();

             }

         },
         use_list: function(value) {

             if(typeof this.type === 'string' && this.type.length && value) {

                 this.loadAdvertisements();

             }

             if(value && this.use_input) {

                 this.use_input = false;

             }

         },
         use_input: function(value) {

             if(value && this.use_list) {

                 this.use_list = false;

             }

         }
     }
 }
</script>
