<template>
    <div class="box box-solid box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Группы</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Добавить объявление в группу/ы</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <select-component v-model="r_value"
                                                  title="Группы"
                                                  :values="groups_list"
                                                  :multiple="true">
                                </select-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         value: {
             type: Array,
             required: true
         },
         groups_list: {
             type: Object,
             default: () => {
                 return {};
             }
         }
     },
     data() {
         return {
             r_value: this.value
         }
     },
     watch: {
         r_value: function(value) {

             this.$emit("input", value);

         }
     }
 }
</script>
