<template>
    <iframe></iframe>
</template>
<script>
 export default {
     mounted() {

         let el = $(this.$el).contents();

         el.find("head").append(`<style>${this.css}</style>`);

         el.find('body').append(this.html);

     },
     props: {
         html: {
             type: String,
             required: true
         },
         css: {
             type: String,
             required: true
         }
     }
 }
</script>
<style scoped>
 iframe {
     border: none !important;
     height: 100%;
     width: 100%;
 }
</style>
