<template>
    <div>
        <div class="modal-header">
            <button class="close" @click.prevent="$emit('close')">
                <i class="fa fa-times text-danger"></i>
            </button>
            <h4 class="modal-title">Предварительный просмотр</h4>
        </div>
        <iframe></iframe>
    </div>
</template>
<script>
 export default {
     mounted() {

         let iframe = $(this.$el).find('iframe'),
             el = iframe.contents();

         el.find("head").append(`<style>${this.css}</style>`);

         let html = this.html;

         if(this.dynamic) {

             let image = this.image;

             if(image === null || image === '') {

                 image = '#';

             }

             html = this.html.replace(
                 /{{\s*picture\s*}}/,
                 image
             );

         }

         iframe.height(
             el.find('body').append(
                 html
             ).height() + 'px'
         );

     },
     props: {
         html: {
             type: String,
             required: true
         },
         css: {
             type: String,
             required: true
         },
         image: {
             type: String,
             default: null
         },
         dynamic: {
             type: Boolean,
             default: true
         }
     }
 }
</script>
<style scoped>
 iframe {
     border: none !important;
     width: 100%;
 }
</style>
