<template>
    <div class="box box-solid">
        <div class="box-body" :class="{'has-error': errors.has('name')}">
            <div class="form-group">
                <input class="form-control"
                       placeholder="Название"
                       name="name"
                       type="text"
                       v-model="name"
                       v-validate="'required|max:255'">
            </div>
            <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
            <div class="text-right">
                <button class="btn btn-success btn-flat" @click.prevent="saveCategory()">
                    Добавить рубрику
                </button>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         alias: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             name: ''
         }
     },
     methods: {
         saveCategory() {

             this.recursiveCheck(this, () => {

                 axios.post(`/${this.alias}`, {
                    name: this.name
                 }).then((response) => {

                    responseMessagesWorker(response);

                    if(response.data.status) {

                        this.name = '';

                        this.$validator.reset();

                        eventHub.$emit("created", response.data.object);

                    }

                }).catch((error) => responseErrorWorker(error));

             });

         }
     }
 }
</script>
