<template>
    <div class="box box-solid box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Комментарии</h3>
        </div>
        <div class="box-body">
            <div class="alert alert-info margin-bottom-10 text-center">
                <h4 class="no-margin">Внимание! Комментарии сохраняются отдельно от общей информации!</h4>
            </div>
            <div class="form-group" :class="{'has-error': errors.has('comments.message')}">
                <textarea name="message"
                        v-model="message"
                        v-validate="'required'"
                        class="form-control"
                        data-vv-scope="comments"
                        rows="10"
                        placeholder="Сообщение"></textarea>
            </div>
            <p class="text-danger" v-if="errors.has('comments.message')">{{ errors.first('comments.message') }}</p>
            <div class="text-center margin-bottom-20">
                <button class="btn btn-primary" @click.prevent="saveAll">
                    Сохранить
                </button>
            </div>
            <list-partial class="no-side-padding"
                          :comments="r_comments">
            </list-partial>
        </div>
    </div>
</template>
<script>
 export default {
     components: {
         "list-partial": require("./partials/list")
     },
     props: {
         alias: {
             type: String,
             default: ''
         },
         comments: {
             type: Array,
             default: () => []
         },
         identifier: {
             type: Number,
             required: true
         },
         type: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             message: '',
             r_comments: this.comments
         }
     },
     methods: {

         saveAll() {

             this.$validator.validate('comments.message').then((result) => {

                 if(result) {

                     axios.post(`${this.getAlias()}/comments`, {
                         message: this.message,
                         modelable_id: this.identifier,
                         modelable_type: this.type
                     }).then((response) => {

                         responseMessagesWorker(response);

                         if(response.data.status) {

                            this.r_comments.unshift(response.data.object);

                            this.message = '';

                            this.$validator.reset();

                         }

                     }).catch((error) => responseErrorWorker(error));

                 }

             });

         },
         getAlias() {

             if(typeof this.alias === "string") {

                 return `/${this.alias}`;

             }

             return '';

         }

     }
 }
</script>
