<template>
    <div>
        <div class="table-responsive fix-labels">
            <v-client-table ref="datatable" :data="data" :columns="getColumns()" :options="options">

                <div slot="afterLimit" class="VueCustomLimit">
                    <label>
                        Показывать:
                    </label>
                    <select class="form-control" @change="$refs.datatable.setLimit($event.target.value)">
                        <option v-for="limit in limits" :value="typeof limit === 'object' ? limit['limit'] : limit">
                            {{ typeof limit === 'object' ? limit['label'] : limit }}
                        </option>
                    </select>
                </div>

                <template slot="h__selected">
                    <input type="checkbox" @click="toggleAll()" />
                </template>

                <template slot="selected" slot-scope="props">
                    <input type="checkbox" :checked="props.row.selected" @click="toggleCurrent(props.row)" />
                </template>

                <template v-for="field in getDefaultFields()" :slot="field['name']" slot-scope="props">
                    <span :title="props.row[field['name']]">
                        {{ decorateLength(props.row[field['name']]) }}
                    </span>
                </template>

                <template v-for="(field_type, field) in decorators" :slot="field" slot-scope="props">

                    <component :is="`${getFieldType(field_type)}-decorator`"
                               :field="field"
                               :value="props.row[field]"
                               :row="props.row"
                               :config="getFieldConfig(field_type)">
                    </component>

                </template>

                <actions-component v-if="identifier.length"
                                   slot="actions"
                                   slot-scope="props"
                                   :alias="alias"
                                   :identifier="identifier"
                                   :actions="actions"
                                   :value="props.row"
                                   :data="data">
                </actions-component>

            </v-client-table>

        </div>

        <list-actions-component :alias="alias"
                            :identifier="identifier"
                            :list_actions="list_actions"
                            :data="data">
        </list-actions-component>

    </div>
</template>
<script>
require("./functions");
export default {
    components: {
        'actions-component': require("./partials/actions"),
        'list-actions-component': require("./partials/list-actions"),

        'sync-decorator': require("./partials/decorators/sync"),
        'link-decorator': require("./partials/decorators/link"),
        'links-array-decorator': require("./partials/decorators/links-array"),
        'array-decorator': require("./partials/decorators/array"),
        'status-decorator': require("./partials/decorators/status"),
        'actions-decorator': require("./partials/decorators/actions"),
        'list-modal-decorator': require("./partials/decorators/list-modal"),
        'comments-decorator': require("./partials/decorators/comments")
    },
    created() {

        this.loadData();

        this.loadEvents();

        this.loadListeners();

    },
    props: {
        id: {
            type: String,
            default: null
        },
        url: {
            type: String,
            required: true
        },
        alias: {
            type: String,
            default: ''
        },
        columns: {
            type: Object,
            required: true
        },
        identifier: {
            type: String,
            default: ''
        },
        actions: {
            type: Array,
            default: () => []
        },
        list_actions: {
            type: Object,
            default: () => {
                return {};
            }
        },
        decorators: {
            type: Object,
            default: () => {
                return {};
            }
        },
        listeners: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {
            data: [],
            all_selected: false,
            options: {
                sortable: this.getSortable(),
                headings: this.getHeadings()
            },
            limits: [
                10,
                20,
                50,
                100
            ]
        }
    },
    methods: {

        loadEvents() {

            eventHub.$on("datatable-event", this.handleEvent);

            if(typeof this.id === 'string' && this.id.length) {

                eventHub.$on(
                    `datatable-${this.id}-event`,
                    this.handleEvent
                );

            }

        },
        loadListeners() {

            if(this.listeners.length) {

                this.listeners.forEach((listener) => {

                    DataTableFunctions[listener](
                        this
                    );

                });

            }

        },
        decorateLength(value) {

            if(typeof value === 'string') {

                if(value.length > 19) {

                    value = value.slice(0, 19) + '...';

                }

            }

            return value;

        },
        getDefaultFields() {

            return _.map(
                _.difference(
                    Object.keys(
                        this.columns
                    ),
                    Object.keys(
                        this.decorators
                    )
                ), (name) => {

                    return {name: name};

                }
            );

        },
        loadData() {

            axios.post(`/${this.alias}/${this.url}`).then((response) => {

                if(response.data.status) {

                    this.data = response.data.elements;

                    this.limits.push({
                        limit: this.data.length,
                        label: trans("all")
                    });

                }

            }).catch((error) => responseErrorWorker(error));

        },
        getColumns() {

            let columns = Object.keys(this.columns);

            if(this.identifier.length) {

                columns.unshift("selected");

            }

            if(this.actions.length) {

                columns.push("actions");

            }

            return columns;

        },
        getSortable() {

            let sortable = [];

            for(let column in this.columns) {

                if(!'sortable' in this.columns[column] ||
                this.columns[column]['sortable'] != false) {

                    sortable.push(column);

                }

            }

            return sortable;

        },
        getHeadings() {

            let headings = {
                actions: this.trans("fields.actions")
            };

            for(let column in this.columns) {

                if('title' in this.columns[column]) {

                    headings[column] = this.columns[column]['title'];

                } else {

                    headings[column] = column;

                }

            }

            return headings;

        },
        toggleAll() {

            this.all_selected = !this.all_selected;

            let length = this.data.length;

            for(let iterator = 0; iterator < length; iterator++) {

                this.$set(
                    this.data[iterator],
                    'selected',
                    this.all_selected
                );

            }

        },
        toggleCurrent(row) {

            let index = this.findIndex(row);

            if(index >= 0) {

                this.$set(
                    this.data[index],
                    'selected',
                    !this.data[index]['selected']
                );

            }

        },
        findIndex(row) {

            if(this.identifier.length && this.identifier in row) {

                return this.data.findIndex((item) => {

                    return item[this.identifier] == row[this.identifier];

                });

            }

            return -1;

        },
        getFieldType(field_type) {

            if(typeof field_type === 'string') {

                return field_type;

            }

            return field_type['type'];

        },
        getFieldConfig(field_type) {

            if(typeof field_type === 'object') {

                return field_type;

            }

            return null;

        },
        handleEvent(event) {

            DataTableFunctions[
                event['name']
            ](this.data, event['data']);

        }

     }
 }
</script>
