<template>
    <div class="box box-purple">
        <div class="box-header with-border">
            <h3 class="box-title">Контекстное обьявления</h3>
        </div>
        <div class="box-body">
            <div class="form-group" :class="{'has-error': errors.has('advertisement_id')}">
                <select-component name="advertisement_id"
                                    v-model="r_value"
                                    v-validate="'required'"
                                    title="Объявление"
                                    :auto_change="false"
                                    :values="advertisements">
                </select-component>
            </div>
            <p class="text-danger" v-if="errors.has('advertisement_id')">{{ errors.first('advertisement_id') }}</p>
        </div>
    </div>
</template>
<script>
 export default {
     created() {

         this.loadAdvertisements();

     },
     props: {
         value: {
             type: [Number, String],
             require: true
         }
     },
     data() {
         return {
             r_value: this.value,
             advertisements: []
         }
     },
     methods: {

         loadAdvertisements() {

             this.$validator.reset();

             axios.post(`/${this.$parent.alias}/select`, {
                 relation: "advertisements",
                 id: this.r_value
             }).then((response) => {

                 if(response.data.status) {

                     this.advertisements = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         }

     },
     watch: {

         r_value: function(value) {

             this.$emit("input", value);

         }

     }
 }
</script>
