<template>
    <div class="box box-purple">
        <div class="box-header with-border">
            <h3 class="box-title">
                Добавить в группу
            </h3>
            <button class="btn btn-danger btn-xs pull-right"
                    @click.prevent="clearAll()"
                    :disabled="r_value === null">
                Очистить
            </button>
        </div>
        <div class="box-body">
            <div class="form-group">
                <select-component name="group_id"
                                v-model="r_value"
                                title="Группа"
                                :auto_change="false"
                                :values="groups">
                </select-component>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     created() {

         this.loadGroups();

     },
     props: {
         update: {
             type: Boolean,
             default: false
         },
         value: {
             type: [Number, String],
             require: true
         }
     },
     data() {
         return {
             r_value: this.value,
             groups: []
         }
     },
     methods: {

         loadGroups() {

             this.$validator.reset();

             axios.post(`/${this.$parent.alias}/select`, {
                 update: this.update,
                 relation: "groups",
                 id: this.r_value
             }).then((response) => {

                 if(response.data.status) {

                     this.groups = response.data.elements;

                 } else defaultErrorMessage();

             }).catch((error) => responseErrorWorker(error));

         },
         clearAll() {

             this.r_value = null;

         }

     },
     watch: {

         r_value: function(value) {

             this.$emit("input", value);

         }

     }
 }
</script>
