<template>
    <div>
        <div class="box box-solid">
            <div class="box-body">
                <div class="form-group" :class="{'has-error': errors.has('name')}">
                    <label>Название</label>
                    <input class="form-control"
                           placeholder="Название"
                           name="name"
                           type="text"
                           v-model="name"
                           v-validate="'required|max:255'">
                </div>
                <p class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</p>
                <div class="form-group">
                    <label>Рубрики</label>
                    <select-component v-model="categories"
                                      title="Рубрики"
                                      :values="categories_list"
                                      :multiple="true">
                    </select-component>
                </div>
                <div class="form-group" v-if="typeof templates === 'object'">
                    <label>Выбор дизайна из шаблона:</label>
                    <select-component v-model="r_template"
                                      title="Шаблоны"
                                      :values="templates"
                                      label_field="name" >
                    </select-component>
                </div>
                <div class="form-group" :class="{'has-error': errors.has('html')}">
                    <label>HTML код обьявления</label>
                    <textarea class="form-control"
                              placeholder="HTML код объявления"
                              name="html"
                              v-model="html"
                              v-validate="'required|max:1000'"
                              rows="20"></textarea>
                </div>
                <p class="text-danger" v-if="errors.has('html')">{{ errors.first('html') }}</p>
                <div class="form-group" :class="{'has-error': errors.has('css')}">
                    <label>CSS код обьявления</label>
                    <textarea class="form-control"
                              placeholder="CSS код обьявления"
                              name="css"
                              v-model="css"
                              v-validate="'required|max:1000'"
                              rows="20"></textarea>
                </div>
                <p class="text-danger" v-if="errors.has('css')">{{ errors.first('css') }}</p>

                <image-input v-model="image"></image-input>

                <hr />
                <div class="text-center">
                    <preview-modal-component v-model="show_preview"
                                             :html="html"
                                             :image="image"
                                             :css="css">
                    </preview-modal-component>
                    <button class="btn btn-info" @click.prevent="showPreview()">
                        Предпросмотр
                    </button>
                </div>
            </div>
        </div>

        <groups-input v-if="!this.is_template && Object.values(groups_list).length"
                      :groups_list="groups_list"
                      v-model="groups">
        </groups-input>

        <div class="form-group text-center">
            <div class="btn-group">
                <a class="btn btn-default btn-lg" :href="getCancelLink()">Отменить</a>
                <button class="btn btn-success btn-lg" @click.prevent="saveAll()">Сохранить</button>
            </div>
        </div>

        <comments-form v-if="model !== null && copy === false"
                   :comments="model['comments']"
                   :identifier="model['id']"
                   :type="'App\\Models\\Advertisement'">
        </comments-form>

    </div>
</template>
<script>
    export default {
        created: function() {

            this.useAsTemplate(this.r_template);

        },
        components: {
            'image-input': require("../../inputs/image"),
            'preview-modal-component': require("../partials/preview-modal"),
            'groups-input': require("../partials/groups")
        },
        props: {
            not_template: {
                type: Boolean,
                default: false
            },
            template: {
                type: [Number, String],
                default: null
            },
            templates: {
                type: [Array, Object, Boolean],
                default: false
            },
            copy: {
                type: Boolean,
                default: false
            },
            alias: {
                type: String,
                required: true
            },
            model: {
                type: Object,
                default: null
            },
            categories_list: {
                type: [Array, Object],
                default: () => []
            },
            groups_list: {
                type: [Array, Object],
                default: () => []
            }
        },
        data() {
            return {
                name: this.loadModelData('name', ''),
                categories: this.loadModelData('categories', [], (categories) => {

                    let ids = [];

                    categories.forEach((category) => {

                        ids.push(category['id']);

                    });

                    return ids;

                }),
                html: this.loadModelData('html', ''),
                css: this.loadModelData('css', ''),
                groups: this.loadModelData('groups', [], (groups) => {

                    let ids = [];

                    groups.forEach((group) => {

                        ids.push(group['id']);

                    });

                    return ids;

                }),
                file_id: this.loadModelData('file_id', null),
                image: this.loadModelData('file', null, (file) => {

                    return `/${file['path']}`;

                }),

                image_changed: false,
                show_preview: false,
                is_template: this.isTemplate(),
                r_template: this.template
            }
        },
        methods: {

            isTemplate() {

                if(this.not_template) {

                    return false;

                }

                return this.loadModelData(
                    'is_template',
                    typeof this.templates === 'object',
                    (is_template) => {

                        return is_template == true;

                    }
                );

            },
            getCancelLink() {

                let link = `/${this.alias}`;

                if(this.is_template == true) {

                    link += '/templates';

                }

                return link;

            },
            showPreview() {

                if(this.show_preview === false) {

                    let promises = [
                        this.$validator.validate('html'),
                        this.$validator.validate('css')
                    ];

                    Promise.all(promises).then((result) => {

                        if(result.indexOf(false) < 0) {

                            this.show_preview = true;

                        }

                    });

                } else {

                    this.show_preview = false;

                }

            },
            saveAll() {

                this.recursiveCheck(this, () => {

                    let fields = ['name', 'categories', 'groups', 'html', 'css'],
                        url = `/${this.alias}`;

                    if(this.model !== null) {

                        url += `/${this.model['id']}`;

                        if(this.copy === true) {

                            url += '/copy';

                        }

                    }

                    if(this.image_changed) {

                        fields.push('image');

                    } else fields.push('file_id');

                    if(this.is_template) {

                        fields.push('is_template');

                    }

                    axios.post(url, buildFormData(this.$data, fields), {
                        headers: {
                            'Content-type': 'multipart/form-data'
                        }
                    }).then((response) => {

                        if(response.data.status) {

                            let redirect = {};

                            if(this.copy || this.model === null) {

                                redirect['url'] = `/${this.alias}`;

                                if(this.is_template) {

                                    redirect['url'] += '/templates';

                                }

                                if(this.copy) {

                                    redirect['url'] += `/${response.data['id']}/edit`;

                                }

                            } else {

                                this.$validator.reset();

                                this.image_changed = false;

                                this.file_id = loadModelData(
                                    response.data.object,
                                    'file_id',
                                    null
                                );

                            }

                            responseMessagesWorker(
                                response,
                                redirect
                            );

                        } else defaultErrorMessage();

                    }).catch((error) => responseErrorWorker(error));

                });

            },
            loadModelData(field, default_value, decorator) {

                return loadModelData(
                    this.model,
                    field,
                    default_value,
                    decorator
                );

            },
            useAsTemplate(index) {

                if(index !== null && typeof this.templates === 'object' && index in this.templates) {

                    this.html = this.templates[index]['html'];

                    this.css = this.templates[index]['css'];

                    this.file_id = loadModelData(this.templates[index], 'file_id', null);

                    this.image = loadModelData(this.templates[index], 'file', null, (file) => {

                        return `/${file['path']}`;

                    });

                    this.categories = loadModelData(this.templates[index], 'categories', [], (categories) => {

                        let ids = [];

                        categories.forEach((category) => {

                            ids.push(category['id']);

                        });

                        return ids;

                    });

                    this.groups.splice(0, this.groups.length);

                }

            }

        },
        watch: {

            html: function() {

                this.show_preview = false;

            },
            css: function() {

                this.show_preview = false;

            },
            image: function() {

                this.show_preview = false;

                if(typeof this.image === 'string' && this.image.length) {

                    this.image_changed = false;

                } else {

                    this.image_changed = true;

                    this.file_id = null;

                }

            },
            r_template: function(index) {

                this.useAsTemplate(index);

            }

        }
    }
</script>
