<template>
    <section class="content">
        <div v-if="r_elements.length">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="form-group no-margin">
                        <label>Поиск:</label>
                        <select-component v-model="search_by"
                                          :multiple="true"
                                          title="Поиск..."
                                          :values="r_elements"
                                          label_field="name"
                                          key_field="id">
                        </select-component>
                    </div>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <div class="form-group">
                        <label>Фильтрация:</label>
                        <select-component v-model="filter_by"
                                          title="Фильтровать по"
                                          :values="filter_by_config">
                        </select-component>
                    </div>
                    <div class="form-group">
                        <select-component v-model="filter_by_value"
                                          :disabled="filter_by === null"
                                          :multiple="true"
                                          title="Значение"
                                          :values="categories_list">
                        </select-component>
                    </div>
                </div>
            </div>
            <trinity-rings-spinner
                :animation-duration="1500"
                :size="100"
                color="#008d4c"
                v-if="loading"
            />
            <div v-if="show_elements.length" v-show="!loading">
                <div class="box box-solid fix-labels" v-for="element in show_elements">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {{ element['name'] }}
                            ({{ element['id'] }})
                        </h3>
                    </div>
                    <div class="box-body">
                        <preview-block-component :html="element['html']"
                                                :css="element['css']">
                        </preview-block-component>
                    </div>
                    <div class="box-footer text-center">
                        <div class="row margin-bottom-10">
                            <div class="col-xs-3 text-left">
                                <span class="label label-success" v-for="category in element['categories']">
                                    {{ category }}
                                </span>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-danger" @click.prevent="deleteElement(element)">
                                Удалить
                            </button>
                            <a :href="`/${alias}/templates/${element['id']}/edit`" class="btn btn-default">
                                Редактировать
                            </a>
                            <a :href="`/${alias}/templates/create/${element['id']}`" class="btn btn-success" v-if="element['is_original']">
                                Создать новое на основе шаблона
                            </a>
                            <a :href="`/${alias}/templates/${element['id']}/copy`" class="btn btn-warning" v-if="element['is_original']">
                                Копировать
                            </a>
                        </div>
                    </div>
                </div>

                <div class="page-pagination text-center" v-if="pages.length > 1">
                    <ul class="pagination">
                        <li :class="{'disabled': page == 0}">
                            <a href="#" @click.prevent="toPage(page - 1)">
                                Предыдущая
                            </a>
                        </li>
                        <li v-for="number in pages" :class="{'active': number == page}">
                            <a href="#" @click.prevent="toPage(number)">
                                {{ number + 1 }}
                            </a>
                        </li>
                        <li :class="{'disabled': page == last_page - 1}">
                            <a href="#" @click.prevent="toPage(page + 1)">
                                Следующая
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="alert alert-info" v-if="!r_elements.length || !show_elements.length">
            <h4 class="no-margin">
                {{ trans("empty") }}
            </h4>
        </div>

    </section>
</template>
<script>
 import { TrinityRingsSpinner } from 'epic-spinners';
 export default {
     components: {
         TrinityRingsSpinner,
         "preview-block-component": require("../partials/preview-block")
     },
     created() {

         this.showElements();

     },
     props: {
         count: {
             type: Number,
             default: 10
         },
         alias: {
             type: String,
             required: true
         },
         elements: {
             type: [Array, Object],
             required: true
         },
         categories_list: {
             type: [Array, Object],
             default: () => []
         }
     },
     data() {
         return {
             r_elements: this.elements,
             filtered_elements: this.elements,
             show_elements: [],
             search_by: [],
             filter_by: null,
             filter_by_value: [],
             filter_by_config: {
                 categories: trans('sort.by categories')
             },
             loading: false,
             page: 0
         }
     },
     methods: {
         deleteElement(element) {

             let index = this.r_elements.indexOf(element);

             if(index >= 0) {

                closureQuestion(() => {

                    axios.delete(
                        `/${this.alias}/${element['id']}`
                    ).then((response) => {

                        responseMessagesWorker(response);

                        if(response.data.status) {

                            this.r_elements.splice(index, 1);

                            this.filterElements();

                        }

                    }).catch((error) => responseErrorWorker(error));

                }, 'warning', trans("will be deleted"));

             }

         },
         filterElements() {

             this.loading = true;

             this.page = 0;

             let elements = this.r_elements;

             if(this.search_by.length) {

                 elements = elements.filter((item) => {

                     return this.search_by.findIndex((selected) => {

                         return selected == item['id'];

                     }) >= 0;

                 });

             }

             if(this.filter_by_value.length) {

                 elements = elements.filter((item) => {

                     return _.difference(
                         this.filter_by_value,
                         _.keys(
                             item[this.filter_by]
                         )
                     ).length < this.filter_by_value.length;

                 });

             }

             this.filtered_elements = elements;

             this.showElements();

             this.loading = false;

         },
         showElements() {

             let from = this.page * this.count;

             if(from > 0) from--;

             this.show_elements = this.filtered_elements.slice(
                 from,
                 from + this.count
             );

         },
         toPage(number) {

             if(number != this.page && this.pages.indexOf(number) >= 0) {

                 this.page = number;

                 this.showElements();

             }

         }
     },
     watch: {
         filter_by: function() {

             this.filter_by_value = [];

         },
         filter_by_value: function() {

             this.filterElements();

         },
         search_by: function() {

             this.filterElements();

         }
     },
     computed: {

         last_page: function() {

             return Math.ceil(
                 this.filtered_elements.length / this.count
             );

         },
         pages: function() {

             return _.chain(0).range(
                 this.last_page
             ).value();

         }

     }
 }
</script>
<style scoped>
 div.trinity-rings-spinner {
     margin: 20px auto;
 }
</style>
