<template>
    <button class="btn btn-info pull-right" @click.prevent="toOriginal()" v-if="r_id !== null">
        Переместить в оригинал
    </button>
</template>
<script>
 export default {
     props: {
         id: {
             type: [Number, String],
             required: true
         },
         alias: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             r_id: this.id
         }
     },
     methods: {
         toOriginal() {

             if(this.r_id === null) return;

             closureQuestion((result) => {

                 if(result.value || ('dismiss' in result && result['dismiss'] == 'cancel')) {

                     axios.post(`/${this.alias}/${this.id}/original`, {
                         delete_parent: result.value === true
                     }).then((response) => {

                         responseMessagesWorker(response);

                         if(response.data.status) {

                             this.r_id = null;

                         }

                     }).catch((error) => responseErrorWorker(error));

                 }

             }, 'info', trans('delete original?'), '', true);

         }
     }
 }
</script>
