<template>
    <div class="text-center">
        <div class="form-group">
            <label class="btn btn-primary" v-show="!preview.length">
                <span>Загрузить изображение</span>
                <input type="file"
                       name="image"
                       v-show="false"
                       v-validate="'image|size:1024'"
                       accept="image/*"
                       @change="imageUploaded" />
            </label>
        </div>
        <div class="alert alert-info" v-if="preview.length">
            <h4 class="no-margin">
                Вставьте "{<!---->{ picture }}" в нужное место html, оно будет заменено ссылкой
            </h4>
            <p>
                Например: <<!---->img src="{<!---->{ picture }}" width="500" />
            </p>
        </div>
        <p class="text-danger" v-if="value !== null && !preview.length && errors.has('image')">{{ errors.first('image') }}</p>
        <div class="row" v-if="preview.length">
            <div class="row">
                <img :src="preview" class="col-sm-6 col-sm-offset-3 col-xs-12 margin-bottom-10" />
            </div>
            <p class="text-danger" v-if="value !== null && preview.length && errors.has('image')">{{ errors.first('image') }}</p>
            <div class="col-xs-12">
                <button class="btn btn-danger" @click.prevent="deleteUploaded">
                    Удалить
                </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
     props: {
         value: {
             type: [File, String],
             default: null
         }
     },
     data() {
         return {
             file: null,
             preview: typeof this.value === 'string' ? this.value : ''
         }
     },
     methods: {

         imageUploaded(event) {

             let input = event.target,
                 file;

             if(input.files && (this.file = input.files[0])) {

                 if(this.file['type'].match(/image\/.*/)) {

                     let reader = new FileReader();

                     reader.onload = (e) => {

                         this.preview = e.target.result;

                     };

                     reader.readAsDataURL(this.file);

                 }

             }

         },
         deleteUploaded() {

             this.file = null;

             this.preview = '';

             this.$emit("input", '');

         }
     },
     watch: {
         file: function(value) {

             this.$emit("input", value);

         }
     }
}
</script>
