<template>
    <select class="selectpicker"
            data-live-search="true"
            :data-actions-box="actions"
            :name="name"
            :class="classes"
            :title="title"
            v-model="r_value"
            @change="changeValue"
            :multiple="multiple"
            :disabled="disabled">
        <option v-for="(element, index) in values" :value="getKey(element, index)">
            {{ getLabel(element) }}
        </option>
    </select>
</template>
<script>
 export default {
     mounted: function() {

         if(this.multiple) {

             if(this.r_value.length) {

                 this.refreshList();

             }

         } else if(this.r_value !== null) {

             this.refreshList();

         }

     },
     props: {
         value: {
             type: [Number, String, Array],
             default: () => {

                 if(this.multiple) {

                     return [];

                 }

                 return null;

             }
         },
         multiple: {
             type: Boolean,
             default: false
         },
         values: {
             type: [Array, Object],
             required: true
         },
         classes: {
            type: String,
            default: 'form-control'
         },
         name: {
             type: String,
             default: null
         },
         title: {
             type: String,
             default: ''
         },
         key_field: {
             type: String,
             default: ''
         },
         label_field: {
             type: String,
             default: ''
         },
         disabled: {
             type: Boolean,
             default: false
         },
         actions: {
             type: Boolean,
             default: false
         },
         auto_change: {
             type: Boolean,
             default: true
         }
     },
     data() {
         return {
             r_value: this.value
         }
     },
     methods: {
         getKey(element, index) {

             if(this.key_field.length) {

                 return element[this.key_field];

             }

             return index;

         },
         getLabel(element) {

             if(this.label_field.length) {

                 return element[this.label_field];

             }

             return element;

         },
         checkSelected(value) {

             if(this.multiple) {

                 return this.r_value.findIndex((element) => {

                     return element == value;

                 }) >= 0;

             }

             return this.r_value == value;

         },
         refreshList() {

             let html = '',
                 selected = null,
                 is_selected,
                 key;

             if(this.multiple) {

                 selected = [];

             }

             for(let index in this.values) {

                 key = this.getKey(this.values[index], index);

                 if(this.checkSelected(key)) {

                     if(this.multiple) {

                         selected.push(key);

                     } else selected = key;

                     is_selected = 'selected';

                 } else is_selected = '';

                 html += `<option value="${key}" ${is_selected}>${this.getLabel(this.values[index])}</option>`;

             }

             $(this.$el).empty().selectpicker(
                 'refresh'
             ).append(
                 html
             ).selectpicker(
                 'refresh'
             );

             if(this.auto_change) {

                 this.r_value = selected;

             }

         },
         changeValue(event) {

             this.$emit(
                 "input",
                 $(event.target).val()
             );

         }
     },
     watch: {
         value: function(value, old_value) {

             this.r_value = value;

             if(this.is_multiple) {

                 if(!_.isEqual(value, old_value)) {

                     this.refreshList();

                 }

             } else if(value != old_value) {

                 this.refreshList();

             }

         },
         values: function() {

             this.refreshList();

         },
         disabled: function(value) {

             $(this.$el).prop(
                 "disabled",
                 value
             ).selectpicker(
                 "refresh"
             );

         }
     }
 }
</script>
