<template>
    <div>
        <div class="btn-group">
            <button class="btn btn-success btn-flat btn-sm"
                    v-tooltip="trans('run')"
                    v-if="r_actions.indexOf('run') >= 0 && 'status' in value"
                    :disabled="value['status'] != false"
                    @click.prevent="runAction()">
                <i class="fa fa-play"></i>
            </button>
            <button class="btn btn-primary btn-flat btn-sm"
                    v-tooltip="trans('stop')"
                    v-if="r_actions.indexOf('stop') >= 0 && 'status' in value"
                    :disabled="value['status'] != true"
                    @click.prevent="stopAction()">
                <i class="fa fa-stop"></i>
            </button>
            <button class="btn btn-default btn-flat btn-sm"
                    v-tooltip="trans('preview')"
                    v-if="r_actions.indexOf('preview') >= 0"
                    @click.prevent="previewAction()">
                <i class="fa fa-eye"></i>
            </button>
            <a class="btn btn-warning btn-flat btn-sm"
                v-if="r_actions.indexOf('copy') >= 0"
                v-tooltip="trans('copy')"
                :href="`/${alias}/${value[identifier]}/copy`">
                <i class="fa fa-copy"></i>
            </a>
            <a class="btn btn-info btn-flat btn-sm"
                v-tooltip="trans('edit')"
                v-if="r_actions.indexOf('edit') >= 0"
                :href="`/${alias}/${value[identifier]}/edit`">
                <i class="fa fa-cogs"></i>
            </a>
            <button class="btn btn-success btn-flat btn-sm"
                    v-tooltip="trans('recover')"
                    v-if="r_actions.indexOf('recover') >= 0"
                    @click.prevent="recoverAction()">
                <i class="fa fa-recycle"></i>
            </button>
            <button class="btn btn-danger btn-flat btn-sm"
                    v-tooltip="trans('delete')"
                    v-if="r_actions.indexOf('delete') >= 0"
                    @click.prevent="deleteAction()">
                <i class="fa fa-trash"></i>
            </button>
            <a class="btn btn-primary btn-flat btn-sm"
                v-tooltip="trans('go to')"
                v-if="r_actions.indexOf('link') >= 0 && field.length"
                :href="value[field]">
                <i class="fa fa-external-link"></i>
            </a>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         alias: {
             type: String,
             required: true
         },
         identifier: {
             type: String,
             required: true
         },
         field: {
             type: String,
             default: ''
         },
         actions: {
             type: Array,
             required: true
         },
         value: {
             type: Object,
             required: true
         },
         data: {
             type: Array,
             required: true
         }
     },
     data() {
         return {
             r_actions: this.buildActions()
         }
     },
     methods: {
         buildActions() {

             return this.actions.map((action) => {

                 if(typeof action === 'string') {

                     return action;

                 }

                 return action['type'];

             });

         },
         handleEvent(action, data) {

             let index = this.actions.findIndex((item) => {

                 return typeof item === 'object' &&
                        item['type'] == action &&
                        'event' in item;

             });

             if(index >= 0) {

                 let event = this.actions[index]['event'];

                 if('decorator' in event) {

                     data = DataTableFunctions[
                         event['decorator']
                     ](data);

                 }

                 eventHub.$emit(`datatable-${event['target_id']}-event`, {
                     name: event['name'],
                     data: data
                 });

             }

         },
         deleteAction() {

             closureQuestion(() => {

                 axios.delete(
                     `/${this.alias}/${this.value[this.identifier]}`
                 ).then((response) => {

                     responseMessagesWorker(response);

                     if(response.data.status) {

                         this.handleEvent(
                             'delete',
                             this.value
                         );

                        this.$delete(
                            this.data,
                            this.index
                        );

                     }

                 }).catch((error) => responseErrorWorker(error));

             }, 'warning', trans("will be deleted"));

         },
         runAction() {

             if(this.value['status'] != true) {

                 closureQuestion(() => {

                     axios.post(`/${this.alias}/actions`, {
                         action: 'run',
                         identifier: this.value[this.identifier]
                     }).then((response) => {

                         responseMessagesWorker(response);

                         if(response.data.status) {

                             this.handleEvent(
                                 'run',
                                 this.value
                             );

                             this.$set(
                                 this.data[this.index],
                                 'status',
                                 true
                             );

                         }

                     }).catch((error) => responseErrorWorker(error));

                 }, 'info', trans("will be launched"));

             }

         },
         stopAction() {

             if(this.value['status'] != false) {

                 closureQuestion(() => {

                     axios.post(`/${this.alias}/actions`, {
                         action: 'stop',
                         identifier: this.value[this.identifier]
                     }).then((response) => {

                         responseMessagesWorker(response);

                         if(response.data.status) {

                             this.handleEvent(
                                 'stop',
                                 this.value
                             );

                             this.$set(
                                 this.data[this.index],
                                 'status',
                                 false
                             );

                         }

                     }).catch((error) => responseErrorWorker(error));

                 }, 'warning', trans("will be stopped"));

             }

         },
         previewAction() {

             this.$modal.show(require("./../../advertisements/partials/preview-modal-content"), {
                 image: this.value['image'],
                 css: this.value['css'],
                 html: this.value['html'],
                 dynamic: false
             }, {
                 height: "auto"
             });

         },
         recoverAction() {

             closureQuestion(() => {

                 axios.post(`/${this.alias}/actions`, {
                     action: 'recover',
                     identifier: this.value[this.identifier]
                 }).then((response) => {

                     responseMessagesWorker(response);

                     if(response.data.status) {

                         this.handleEvent(
                             'recover',
                             this.value
                         );

                         this.$delete(
                             this.data,
                             this.index
                         );

                     }

                 }).catch((error) => responseErrorWorker(error));

             }, 'warning', trans("will be recovered"));

         }
     },
     computed: {
         index: function() {

             return this.data.findIndex((item) => {

                 return item[this.identifier] == this.value[this.identifier];

             });

         }
     }
 }
</script>
