<template>
    <div class="row datatable-actions-wrapper" v-if="identifier.length && Object.values(list_actions).length">
        <div class="col-xs-12">
            <div class="input-group-btn" :class="{'has-error': errors.has('list_action')}">
                <select-component
                    name="list_action"
                    v-model="list_action"
                    v-validate="'required'"
                    classes="table-select-options"
                    title="Действия с выделенными"
                    :values="list_actions"
                    label_field="label">
                </select-component>
                <button class="btn btn-flat btn-primary" @click.prevent="runListAction()">
                    Применить
                </button>
            </div>
            <p class="text-danger list-action-error" v-if="errors.has('list_action')">{{ errors.first('list_action') }}</p>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         alias: {
             type: String,
             required: true
         },
         identifier: {
             type: String,
             required: true
         },
         list_actions: {
             type: Object,
             required: true
         },
         data: {
             type: Array,
             required: true
         }
     },
     data() {
         return {
             list_action: null
         }
     },
     methods: {

         runListAction() {

             if(this.identifier.length) {

                this.recursiveCheck(this, () => {

                    let identifiers = [];

                    for(let index = 0; index < this.data.length; index++) {

                        if(this.data[index]['selected']) {

                            identifiers.push(
                                this.data[index][
                                    this.identifier
                                ]
                            );

                        }

                    }

                    if(this.handler !== null) {

                        this.handleHandler(
                            this.selectData(identifiers)
                        );

                    } else {

                        closureQuestion(() => {

                            axios.post(`/${this.alias}/actions`, {
                                action: this.list_action,
                                identifier: identifiers
                            }).then((response) => {

                                responseMessagesWorker(response);

                                if(response.data.status) {

                                    if(this.event) {

                                        this.handleEvent(
                                            this.selectData(
                                                identifiers
                                            )
                                        );

                                    }

                                    let method_name = 'listAction' + window.capitalize(this.list_action) + 'Callback';

                                    if(method_name in this) {

                                        this[method_name](
                                            identifiers,
                                            response.data
                                        );

                                    }

                                }

                            }).catch((error) => responseErrorWorker(error));

                        }, this.list_actions[
                            this.list_action
                        ]['type'], this.list_actions[
                            this.list_action
                        ]['text']);

                    }

                });

             }

         },
         listActionDeleteCallback(identifiers) {

             identifiers.forEach((identifier) => {

                 let index = this.data.findIndex((item) => {

                     return item[this.identifier] == identifier;

                 });

                 if(index >= 0) {

                     this.$delete(
                         this.data,
                         index
                     );

                 }

             });

         },
         listActionRecoverCallback(identifiers) {

             this.listActionDeleteCallback(identifiers);

         },
         selectData(identifiers) {

             return this.data.filter((item) => {

                 return identifiers.indexOf(
                     item[this.identifier]
                 ) >= 0;

             });

         },
         handleEvent(data) {

             if('decorator' in this.event) {

                 data = DataTableFunctions[
                     this.event['decorator']
                 ](data);

             }

             eventHub.$emit(`datatable-${this.event['target_id']}-event`, {
                name: this.event['name'],
                data: data
             });

         },
         handleHandler(data) {

             if('decorator' in this.handler) {

                 data = DataTableFunctions[
                     this.handler['decorator']
                 ](data);

             }

             DataTableFunctions[
                 this.handler['name']
             ](data);

         }

     },
     computed: {
         event: function() {

             if(this.list_action !== null) {

                 if('event' in this.list_actions[this.list_action]) {

                     return this.list_actions[
                         this.list_action
                     ]['event'];

                 }

             }

             return null;

         },
         handler: function() {

             if(this.list_action !== null) {

                 if('handler' in this.list_actions[this.list_action]) {

                     return this.list_actions[
                         this.list_action
                     ]['handler'];

                 }

             }

             return null;

         }
     }
 }
</script>
