<template>
    <div class="box box-solid">
        <div class="box-body" :class="{'has-error': errors.has('url')}">
            <div class="form-group">
                <input class="form-control"
                       placeholder="URL трекера"
                       name="url"
                       type="text"
                       v-model="url"
                       v-validate="'required|max:255|url'">
            </div>
            <p class="text-danger" v-if="errors.has('url')">{{ errors.first('url') }}</p>
            <div class="text-right">
                <button class="btn btn-success btn-flat" @click.prevent="saveTracker()">
                    Добавить трекер
                </button>
            </div>
        </div>
    </div>
</template>
<script>
 export default {
     props: {
         alias: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             url: ''
         }
     },
     methods: {
         saveTracker() {

             this.recursiveCheck(this, () => {

                 axios.post(`/${this.alias}`, {
                    url: this.url
                 }).then((response) => {

                    responseMessagesWorker(response);

                    if(response.data.status) {

                        this.url = '';

                        this.$validator.reset();

                        eventHub.$emit("created", response.data.object);

                    }

                }).catch((error) => responseErrorWorker(error));

             });

         }
     }
 }
</script>
