<template>
    <div class="box box-solid">
        <div class="box-body" v-if="r_elements.length">
            <ul class="list-group margin-0">
                    <li class="list-group-item" v-for="(element, index) in r_elements">
                        <div class="row tracker-info-block">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                {{ element.url }}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                                <div class="btn-group">
                                    <a href="#"
                                        class="btn btn-info btn-flat btn-sm"
                                        v-tooltip="trans('edit')"
                                        @click.prevent="editAction(index)">
                                        <i class="fa fa-cogs"></i>
                                    </a>
                                    <a href="#"
                                        class="btn btn-danger btn-flat btn-sm"
                                        v-tooltip="trans('delete')"
                                        @click.prevent="deleteAction(index)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
        <div class="callout callout-info margin-0" v-if="!r_elements.length">
            <h4 class="margin-0">
                {{ trans("empty") }}
            </h4>
        </div>
    </div>
</template>
<script>
 export default {
     created: function() {

         eventHub.$on("created", this.addNew);

     },
     props: {
         alias: {
             type: String,
             required: true
         },
         elements: {
             type: [Array, Object],
             required: true
         }
     },
     data() {
         return {
             r_elements: this.elements
         }
     },
     methods: {
         addNew(element) {

             this.r_elements.push(element);

         },
         editAction(index) {

             if(index in this.r_elements) {

                 oneFieldEditingModal(
                     `/${this.alias}/` + this.r_elements[index]['id'],
                     'url',
                     (response, new_value) => {

                         responseMessagesWorker(response);

                         if(response.data.status) {

                             this.$set(
                                 this.r_elements[index],
                                 'url',
                                 new_value
                             );

                         }

                     },
                     this.r_elements[index]['url']
                 );

             }

         },
         deleteAction(index) {

             if(index in this.r_elements) {

                closureQuestion(() => {

                    axios.delete(
                        `/${this.alias}/` + this.r_elements[index]['id']
                    ).then((response) => {

                        responseMessagesWorker(response);

                        if(response.data.status) {

                            this.r_elements.splice(index, 1);

                        }

                    }).catch((error) => responseErrorWorker(error));

                }, "warning", trans("will be deleted"));

             }

         }
     }
 }
</script>
