<template>
    <actions-component v-if="$parent.$parent.identifier.length"
                       :field="field"
                       :alias="$parent.$parent.alias"
                       :identifier="$parent.$parent.identifier"
                       :actions="config['value']"
                       :value="row"
                       :data="$parent.$parent.data">
    </actions-component>
</template>
<script>
 export default {
     components: {
         "actions-component": require("../actions")
     },
     props: {
         field: {
             type: String,
             required: true
         },
         row: {
             type: Object,
             required: true
         },
         config: {
             type: Object,
             required: true
         }
     }
 }
</script>
