<template>
    <div>
        <span class="label label-default" v-if="!value.length">
            {{ trans('empty') }}
        </span>
        <span class="label label-info" v-for="value in value">
            {{ value }}
        </span>
    </div>
</template>
<script>
 export default {
     props: {
         value: {
             type: [Array, Object],
             required: true
         }
     }
 }
</script>
