<template>
    <div class="text-center">
        <button class="btn btn-warning btn-flat btn-sm" @click.prevent="showModal()">
            <i class="fa fa-comments"></i>
        </button>
    </div>
</template>
<script>
 export default {
     props: {
         config: {
             type: Object,
             required: true
         },
         row: {
             type: Object,
             required: true
         }
     },
     methods: {

         showModal() {

             this.$modal.show(require("./comments-content"), {
                 alias: this.getAlias(),
                 modelable_id: this.row[this.$parent.$parent.identifier],
                 modelable_type: this.config['modelable_type']
             }, {
                 height: "auto"
             });

         },
         getAlias() {

             if(typeof this.config['alias'] === "string") {

                 return `/${this.config['alias']}`;

             }

             return '';

         }

     }
 }
</script>
