<template>
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" @click.prevent="$emit('close')">
                <i class="fa fa-times text-danger"></i>
            </button>
            <h4 class="modal-title">
                Комментарии
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group" :class="{'has-error': errors.has('message')}">
                <textarea name="message"
                            v-model="message"
                            v-validate="'required'"
                            class="form-control"
                            rows="5"
                            placeholder="Сообщение"></textarea>
            </div>
            <p class="text-danger" v-if="errors.has('message')">{{ errors.first('message') }}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default pull-left" @click.prevent="$emit('close')">
                Закрыть
            </button>
            <button class="btn btn-primary" @click.prevent="saveComment()">
                Добавить
            </button>
        </div>
        <list-partial :comments="comments" :is_modal="true"></list-partial>
    </div>
</template>
<script>
 export default {
     components: {
         "list-partial": require("./../../../comments/partials/list")
     },
     created() {

         axios.post(`${this.alias}/comments/load`, {
             modelable_id: this.modelable_id,
             modelable_type: this.modelable_type
         }).then((response) => {

             if(response.data.status) {

                 this.comments = response.data.elements;

             } else {

                 this.$emit('close');

                 defaultErrorMessage();

             }

         }).catch((error) => {

             this.$emit('close');

             responseErrorWorker(error);

         });

     },
     props: {
         alias: {
             type: String,
             default: ''
         },
         modelable_id: {
             type: [String, Number],
             required: true
         },
         modelable_type: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             comments: [],
             message: ''
         }
     },
     methods: {

         saveComment() {

             this.recursiveCheck(this, () => {

                 axios.post(`${this.alias}/comments`, {
                     message: this.message,
                     modelable_id: this.modelable_id,
                     modelable_type: this.modelable_type
                 }).then((response) => {

                     responseMessagesWorker(response);

                     if(response.data.status) {

                         this.comments.unshift(response.data.object);

                         this.message = '';

                         this.$validator.reset();

                     }

                 }).catch((error) => responseErrorWorker(error));

             });

         }

     }
 }
</script>
