<template>
    <div>
        <span class="label label-default" v-if="!value.length">
            {{ trans('empty') }}
        </span>
        <span class="label" v-for="element in value">
            <link-component :value="element"></link-component>
        </span>
    </div>
</template>
<script>
 export default {
     components: {
         "link-component": require("./link")
     },
     props: {
         value: {
             type: [Array, Object],
             required: true
         }
     }
 }
</script>
