<template>
    <span>
        <a class="btn btn-default btn-xs"
        target="_blank"
        v-if="value['url'] !== undefined"
        :href="value['url']"
        :title="value['title']">
            {{ title }}
        </a>
        <span class="label label-default" v-if="value['url'] === undefined">
            {{ trans('empty') }}
        </span>
    </span>
</template>
<script>
 export default {
     props: {
         value: {
             type: [Array, Object],
             required: true
         }
     },
     computed: {
         title: function() {

             if(["string", "number"].indexOf(typeof this.value['title']) >= 0) {

                 if(this.value['title'].length > 19) {

                     return this.value['title'].slice(0, 19) + '...';

                 }

                 return this.value['title'];

             }

             return trans('empty');

         }
     }
 }
</script>
