<template>
    <div>
        <div>
            <button class="btn btn-default btn-xs"
                    v-if="'elements' in value && value['elements'].length"
                    @click.prevent="showListModal()">
                {{ trans("watch") }}
            </button>
            <span class="label label-default" v-else>
                {{ trans('empty') }}
            </span>
        </div>
        <modal name="list-modal" height="auto">
            <div class="modal-header">
                <button class="close" @click.prevent="closeListModal()">
                    <i class="fa fa-times text-danger"></i>
                </button>
                <h4 class="modal-title">
                    {{ value['title'] }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <a target="_blank" :href="value['url']" class="list-group-item" v-for="value in value['elements']">
                        {{ value['title'] }}
                    </a>
                </div>
            </div>
        </modal>
    </div>
</template>
<script>
 export default {
     props: {
         value: {
             type: [Array, Object],
             required: true
         }
     },
     methods: {
         showListModal() {

             this.$modal.show("list-modal");

         },
         closeListModal() {

             this.$modal.hide("list-modal");

         }
     }
 }
</script>
