<template>
    <span class="label"
          :class="{'label-success': value == true,
                 'label-danger': value == false,
                 'label-default': value ===  null}">
        <span v-if="value === null">
            {{ config["value"] }}
        </span>
        <span v-else>
            {{ value ? trans("on") : trans("off") }}
        </span>
    </span>
</template>
<script>
 export default {
     props: {
         value: {
             type: [Number, Boolean],
             default: null
         },
         config: {
             type: Object,
             default: null
         }
     }
 }
</script>
