<template>
    <div>
        <span class="label label-default" v-if="value === null">
            Плагин не установлен!
        </span>
        <button :class="{'btn-default': value == false, 'btn-primary': typeof value === 'string'}"
                class="btn btn-xs"
                @click.prevent="runSync()"
                v-if="value !== null">
            <span v-if="value == false">
                Не синхронизировано
            </span>
            <span v-else>
                {{ value }}
            </span>
        </button>
    </div>
</template>
<script>
 export default {
     props: {
         row: {
             type: Object,
             required: true
         },
         value: {
             type: [Number, Boolean, String],
             default: null
         }
     },
     methods: {
         runSync() {

             closureQuestion(() => {

                 axios.post(`/${this.$parent.$parent.alias}/actions`, {
                     action: 'sync',
                     identifier: this.row[this.$parent.$parent.identifier]
                 }).then((response) => {

                     responseMessagesWorker(response);

                 }).catch((error) => responseErrorWorker(error));

             }, 'info', trans("sync will be launched"));

         }
     }
 }
</script>
