<template>
    <div>
        <div class="box box-info">
            <div class="box-header">
                <div class="form-group" :class="{'has-error': errors.has('key')}">
                    <div class="input-group">
                        <input name="key"
                            v-model="key"
                            v-validate="'required|max:20|min:20'"
                            class="form-control"
                            placeholder="Токен синхронизации"
                            readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-flat"
                                    v-tooltip="trans('generate key')"
                                    @click.prevent="generateKey()">
                                <i class="fa fa-refresh"></i>
                            </button>
                            <button class="btn btn-info btn-flat"
                                    v-tooltip="trans('copy to buffer')"
                                    @click.prevent="copyToClipboard()"
                                    :disabled="!key.length"
                                    :class="{'disabled': !key.length}">
                                <i class="fa fa-copy"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <p class="text-danger" v-if="errors.has('key')">{{ errors.first('key') }}</p>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-9 col-xs-12">

                        <div class="info-box no-margin">
                            <span class="info-box-icon" :class="{'bg-green': status, 'bg-red': !status}">
                                <i class="fa fa-thumbs-up" :class="{'fa-thumbs-up': status, 'fa-thumbs-down': !status}"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text">
                                    {{ status ? 'Сайт подключен' : 'Сайт не подключен' }}
                                </span>
                                <span class="info-box-number" v-if="status && synchronized_at.length">
                                    Последняя синхронизация {{ synchronized_at }}
                                </span>
                                <span class="info-box-number" v-if="!status && !error.length">
                                    Пожалуйста, синхронизируйте сайт скопировав токен и установив его на сайт!
                                </span>
                                <span class="info-box-number" v-if="!status && error.length">
                                    Ошибка синхронизации: "<span class="text-danger">{{ error }}</span>".
                                </span>
                            </div>
                            <div class="overlay" v-if="changed">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <button class="btn btn-success btn-lg btn-block btn-flat site-sync-button"
                                @click.prevent="buttonEvent()"
                                :disabled="disabled"
                                :class="{'disabled': disabled}">
                            <span v-if="!changed && key.length">
                                Синхронизировать
                            </span>
                            <span v-else>
                                Сохранить<br />изменения
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Обновление данных сайта
                </h3>
            </div>
            <div class="box-body">
                <div class="form-group" :class="{'has-error': errors.has('periodicity')}">
                    <div class="radio" v-for="periodicity_key in periodicities">
                        <label>
                            <input name="periodicity" v-model="periodicity"
                                   v-validate="'required'"
                                   type="radio"
                                   :value="periodicity_key" />
                            {{ trans(`periodicities.${periodicity_key}`) }}
                        </label>
                    </div>
                </div>
                <p class="text-danger" v-if="errors.has('periodicity')">
                    {{ errors.first('periodicity') }}
                </p>
            </div>
        </div>
    </div>
</template>
<script>
 var randomstring = require("randomstring");
 var copy = require("copy-to-clipboard");
 export default {
     created() {

         addUserListener('Site.SynchronizationEvent', (e) => {

             if(e.site_id == this.loadModelData('site_id', null)) {

                 let status = e.status == true;

                 swal({
                     type: status ? "success" : "error",
                     title: e.message
                 }).then(() => {

                     this.status = status;

                     if(typeof e.error === 'string' && e.error.length) {

                         this.error = e.error;

                     } else this.error = '';

                     if(typeof e.synchronized_at === 'string' && e.synchronized_at.length) {

                         this.synchronized_at = moment(
                             e.synchronized_at
                         ).format(
                             "DD-MM-YYYY HH:mm:ss"
                         );

                     } else this.synchronized_at = '';

                 });

             }

         });

     },
     props: {
         model: {
             type: Object,
             required: true
         },
         alias: {
             type: String,
             required: true
         },
         periodicities: {
             type: [Array, Object],
             required: true
         },
         default_periodicity: {
             type: String,
             required: true
         }
     },
     data() {
         return {
             r_model: this.model,
             changed: false,
             disabled: false,
             status: this.loadModelData('status', false, (status) => {

                 return status == true;

             }),
             key: this.loadModelData('key', ''),
             error: this.loadModelData('error', ''),
             periodicity: this.loadModelData('periodicity', this.default_periodicity),
             synchronized_at: this.loadModelData("synchronized_at", '', (synchronized_at) => {

                return moment(synchronized_at).format("DD-MM-YYYY HH:mm:ss");

             })
         }
     },
     methods: {
         loadModelData(field, default_value, decorator) {

             if(this.model['synchronization'] !== null) {

                return loadModelData(
                    this.model['synchronization'],
                    field,
                    default_value,
                    decorator
                );

             }

             return default_value;

         },
         generateKey() {

             this.key = randomstring.generate(20);

         },
         copyToClipboard() {

             if(this.key.length) {

                 copy(this.key);

                 showToast(trans("copied to clipboard"));

             }

         },
         buttonEvent() {

             if(this.changed || !this.key.length) {

                 this.saveAll();

             } else {

                 this.syncAction();

             }

         },
         saveAll() {

             if(this.disabled) return;

             this.recursiveCheck(this, () => {

                 this.disabled = true;

                 axios.post(window.location.pathname + '/sync/update', {
                     key: this.key,
                     periodicity: this.periodicity
                 }).then((response) => {

                     if(response.data.status) {

                         this.changed = false;

                         responseMessagesWorker(response);

                         this.$set(
                             this.r_model,
                             'key',
                             this.key
                         );

                         this.$set(
                             this.r_model,
                             'periodicity',
                             this.periodicity
                         );

                         this.status = false;

                         this.synchronized_at = '';

                     } else defaultErrorMessage();

                     this.disabled = false;

                 }).catch((error) => {

                     this.disabled = false;

                     responseErrorWorker(error);

                 });

             });

         },
         syncAction() {

             if(this.disabled) return;

             closureQuestion(() => {

                 this.disabled = true;

                 axios.post(window.location.pathname + '/sync').then((response) => {

                     if(response.data.status) {

                         responseMessagesWorker(response);

                     } else defaultErrorMessage();

                     this.disabled = false;

                 }).catch((error) => {

                     this.disabled = false;

                     responseErrorWorker(error);

                 });

             }, 'info', trans("sync will be launched"));

         },
         checkChanges() {

             let default_periodicity = loadModelData(this.r_model, 'periodicity', this.default_periodicity);

             if(this.key != loadModelData(this.r_model, 'key', '') || this.periodicity != default_periodicity) {

                 this.changed = true;

             } else this.changed = false;

         }
     },
     watch: {
         key: function(value) {

             this.checkChanges();

         },
         periodicity: function(value) {

             this.checkChanges();

         }
     }
 }
</script>
